[Unit]
Description=SRP platform start
StartLimitIntervalSec=30
StartLimitBurst=2
After=multi-user.target
AllowIsolate=yes

[Service]
Type=forking
ExecStart=/bin/bash -c /bin/srp_start.sh
StandardOutput=journal+console
StandardError=journal+console
SyslogIdentifier=srp_start

[Install]
WantedBy=multi-user.target
